* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

header {
    font-size: small;
    width: 100%;
    position: relative;
}

nav ul {
    position: absolute;
    right: 0px;
    display: flex;
}

nav ul li {
    display: inline;
    margin: 20px 12px;
}
nav ul li:nth-child(1):hover a{
    text-decoration: underline;
}
nav ul li:nth-child(2):hover a{
    text-decoration: underline;
}

nav ul li:nth-child(3)::after {
    display: none;
    content: " ";
    position: absolute;
    background-color: rgba(0, 0, 0, .1);
    width: 40px;
    height: 40px;
    top: 8.7px;
    right: 63.6px;
    border-radius: 50%;
}
nav ul li:nth-child(3):hover::after{
    display: block;
}
nav ul li:nth-child(4):hover::after{
    display: block;
}

nav ul li:nth-child(4)::after {
    display: none;
    content: " ";
    position: absolute;
    background-color: rgba(0, 0, 0, .1);
    width: 40px;
    height: 40px;
    top: 9.4px;
    right: 10px;
    border-radius: 50%;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.gb_i {
    width: 24px;
    height: 24px;
    margin: -6px 0px;
}

.user {
    margin: -8px 0px;
    width: 35px;
    height: 35px;
    background-image: url(icons/默认头像.png);
    background-size: 35px;
}